body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #023373;
    color: #fff;
    height: 90px;
  }

  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 20px;
  }

  .main {
    padding: 40px 80px;
  }

  .copy-container h1 {
    font-size: 50px;
  }
  
  .copy-container span {
    color: #F2695C;
  }

  .contents-item {
    margin-right: 40px;
    font-size: 15px;

  }

  img {
    width: 200px; height: 200px;
    object-fit: contain;
  }

  .contents-item {
    margin-right: 100px;
  }

  .contact-form {
    padding-top: 40px;
    font-size: 15px;
  }

  .footer {
    background-color: #023373;
    color: #FFF;
    height: 90px;
    padding: 20px 20px;
  }
  
  .footer-logo {
    float: left;
    font-size: 36px;
    padding: 20px 20px;
  }

  

  